<!-- projects/templates/projects/project_detail.html -->

{% extends "base.html" %}

{% block page_content %}
<h1>{{ project.title }}</h1>
<div class="w3-row w3-border ">
  <div class="w3-display-container w3-hide-small  w3-half w3-right-align"
style="height:100vh;">
<div class="w3-display-right w3-padding">
    <h2>About the project:</h2>
    <p>{{ project.description }}</p>
    <h3>Technology used:</h3>
    <p>{{ project.technology }}</p>
    <h3>Source  code used:</h3>
    <a href="{{ project.link }}"><p>{{ project.link }}</p></a>
  </div>
  </div>
  <div class="w3-container w3-hide-small w3-half" style="height:100vh;">
  {% if project.image %}
    <img src="{{ project.image.url }}" style="width:100%">
{% endif %}
  </div>
  <!--mobile version-->
  <div class="w3-display-container w3-hide-large w3-hide-medium w3-half
w3-right-align" style="height:50vh;">
<div class="w3-display-right w3-padding">
    <h2>About the project:</h2>
    <p>{{ project.description }}</p>
    <h3>Technology used:</h3>
    <p>{{ project.technology }}</p>
    <h3>Source  code used:</h3>
    <a href="{{ project.link }}"><p>{{ project.link }}</p></a>
  </div>
  </div>
  <div class="w3-container w3-hide-large w3-hide-medium w3-half"
style="height:50vh;">
  {% if project.image %}
    <img src="{{ project.image.url }}" style="width:100%">
{% endif %}
  </div>
</div>
{% endblock page_content %}
